/* HEADER OF THE POP-UP */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,600&display=swap");

#popup-wrapper {
	padding-left: 20px;
	padding-right: 20px;
}

.cart-header-wrapper {
	clear: both;
	margin-bottom: 15px;
	margin-top: 15px;
}

.winkelwagen-popup-buttonverderwinkelen {
	margin-left: auto;
	border: 0px;
	background-color: white;
}

.winkelwagen-popup-buttonverderwinkelen:hover SPAN {
	text-decoration: underline;
	color: black;
	-webkit-text-decoration-color: #39c; /* Safari */
	text-decoration-color: #39c;
}

.winkelwagen-popup-buttonverderwinkelen:hover .fa-times::before {
	color: #39c;
}

.cart-header-container {
	display: flex;
	background-color: white;
	font-family: "Open Sans" !important;
	padding: 0 !important;
}

.head-product-wrapper,
.other-product-wrapper,
.upsell-wrapper {
	display: flex;
	justify-content: center;
	clear: both;
	border-bottom: 1px solid #e6e6e6 !important;
	border-top: 1px solid #e6e6e6 !important;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.upsell-title-wrapper {
	margin-bottom: 15px;
}

/* text inside continue shopping */
#bootstrap-show-modal-0 > div > div > div > div > div:nth-child(1) > div > button > i > span {
	font-family: "Open Sans";
}

winkelwagen-popup-h4 {
	font-family: "Open Sans";
	margin-bottom: 0px;
}

.winkelwagen-popup-buttondiv {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.button-winkelmand {
	background-color: rgb(51, 153, 204);
	font-family: "Open Sans";
	font-weight: 500;
	color: white;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	border: 0px;
}

.winkelwagen-popup-button {
	background-color: #31d438;
	color: white;
	font-family: "Open Sans";
	font-weight: 500;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	border: 0px;
}

.winkelwagen-popup-button > a {
	font-weight: 500;
	font-family: "Open Sans";
	font-size: 18px !important;
}

.winkelwagen-popup-button .button {
	color: white;
}

.winkelwagen-popup-button:hover {
	box-shadow: 0 0 20px 1px rgb(128 128 128 / 40%);
}

.button-winkelmand:hover {
	box-shadow: 0 0 20px 1px rgb(128 128 128 / 40%);
}

div.winkelwagen-popup-buttondiv.col-lg-3.col-md-6.col-sm-12 > button > i {
	margin-left: 6px;
}
#winkelwagenpopup-button-link {
	text-decoration: none;
	color: white;
	font-family: "Open Sans";
}

.winkelwagen-popup-price .ex-btw {
	font-weight: bold;
}

.winkelwagen-popup-price .inc-btw {
	font-weight: bold;
}

.winkelwagen-popup-button > a {
	padding: 0px !important;
	margin: 0px;
	margin-top: 0px !important;
	background-color: #ffffff00 !important;
}

.headProduct-ex-btw,
.otherProduct-ex-btw,
.upsellProduct-ex-btw {
	font-weight: bold;
}

.headProduct-inc-btw,
.otherProduct-inc-btw,
.upsellProduct-inc-btw {
	font-weight: bold;
}

.woocommerce img,
.woocommerce-page img {
	width: 100%;
}

/*responsive tablet mode*/
@media only screen and (max-width: 991px) {
	.price-container,
	.quantity-container {
		margin-top: 10px;
	}
	.winkelwagen-popup-buttondiv {
		margin-top: 15px !important;
	}

	.upsell-atc-container,
	.upsell-price-container {
		margin-top: 10px !important;
	}

	.woocommerce img,
	.woocommerce-page img {
		width: 100% !important;
	}
}

.image-container,
.other-image-container,
.upsell-image-container,
.name-container,
.quantity-container,
.other-image-container,
.other-name-container,
.other-quantity-container,
.upsell-image-container,
.upsell-name-container {
	align-items: center;
	display: flex;
	justify-content: center;
}

.price-container,
.other-price-container,
.upsell-price-container {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
/*responsive phone mode*/
@media only screen and (max-width: 767px) {
	.woocommerce img,
	.woocommerce-page img {
		width: 80% !important;
	}
	.image-container,
	.other-image-container,
	.upsell-image-container {
		margin-bottom: 15px;
	}
}

/*responsive small phone mode*/
@media only screen and (max-width: 500px) {
	.woocommerce img,
	.woocommerce-page img {
		width: 100% !important;
	}
}
